body {
	background-color: lightblue;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
	text-align: center;
	color: darkblue;
	margin-bottom: 30px;
}

h2 {
	text-align: center;
	color: darkred;
	background: lightgoldenrodyellow;
	padding: 10px;
	/* experiment with different border styles */
	border-bottom: 8px double darkorange;
}

p {
	margin: 20px;
	line-height: 1.6;
}

/* the text wraps around the bottom of the image */
#float-right {
	float: right;
	margin-left: 20px;
}

/* the text starts at the top right of the image rather than the bottom right */
#float-left {
	float: left;
	margin-right: 20px;
}

.container {
	display: flex;
	background-color: darkorchid;
	/* experiment with different border styles */
	border: 3px dotted black;
	border-radius: 30px;
	width: 400px;
}

.container div {
	background-color: darkmagenta;
	border-radius: 20px;
	color: white;
	font-size: 30px;
	padding: 20px 50px;
	/* margin on flexbox items to show separation */
	margin: 10px;
}

#container-1 {
	flex-wrap: wrap;
	justify-content: space-around;
}
